/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.profilegroup {
  background: linear-gradient(rgba(0,0,0,0.75)  ,rgba(0,0,0,0.75)) , url("../assets/img2.jpg") center/cover no-repeat;
  padding: 2.23em;
}

.titlepen {
  color: rgb(252, 245, 245);
  font-family: "Coda", sans-serif;
  text-align: center;
}
.titlepen span {
  color: #616311;
}

.userprofile {
  margin: auto;
	width: 25em; 
  height: 11em;
  background: hsla(44, 89%, 55%, 0.479);
  border-radius: .3em;
  margin-bottom:100px ;
}

.userprofile  .username {
  margin: auto;
  margin-top: -3.10em;
  margin-left: 5.80em;
  color: #070707;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.userprofile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.userprofile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #f7f3f3; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.userprofile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

/* .userprofile ul.data {
	margin: 2em auto;
	height: 3.70em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.userprofile li {
	margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
} */

.userprofile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.userprofile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}