/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.profilegroup {
  background: linear-gradient(rgba(0,0,0,0.75)  ,rgba(0,0,0,0.75)) , url("../assets/img2.jpg") center/cover no-repeat;
  padding: 2.23em;
  
}

.titlepen {
  color: rgb(252, 245, 245);
  font-family: "Coda", sans-serif;
  text-align: center;
}
.titlepen span {
  top: 20px;
  color: #616311;
}

.userprofile {
  margin: auto;
	width: 25em; 
  height: 11em;
  background: hsla(44, 89%, 55%, 0.479);
  border-radius: .3em;
  margin-bottom:100px ;
}

.userprofile  .username {
  margin: auto;
  margin-top: -3.10em;
  margin-left: 5.80em;
  color: #070707;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.userprofile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.userprofile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #f7f3f3; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.userprofile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}



.userprofile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.userprofile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
 .hh3  {
  text-decoration: none;
  color: #ea4c89;
 text-align: center;
margin-top: 30px;
 }



/* //---------------------------------------------------------------------------------------------------- */

/* @property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
} */

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


.all {
  min-height: 30vh;
  background: linear-gradient(rgba(0,0,0,0.75)  ,rgba(0,0,0,0.75));
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}


.card {
  background: #060607;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    /* , #5ddcff, #3c67e3 43%, #4e00c2); */
     , #eff5bf, #e5e76c 43%,  #616311);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 3);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    /* , #5ddcff, #3c67e3 43%, #4e00c2); */
     , #eff5bf, #e5e76c 43%,  #616311);
   
   
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

h2 {
  color: #d4b504;
  text-decoration: none;
  /* font-family: sans-serif; */
  font-weight: bold;
  margin-top: 6rem;
}
h3 {
  color: #d4b504;
  text-decoration: none;
  /* font-family: sans-serif; */
  font-weight: bold;
 
}

