.foter {
    background-color:rgba(236, 236, 238, 0.767);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    padding: 20px;
    /* filter: invert(1); */
    color:  hsl(44, 89%, 55%);
}

.call {
    /* filter: invert(1); */
    padding-left: 50px;
    font-size: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-right: 20px;
    padding-top: 10px;
    
}


.imgs {
    width: 150px;
    height: 50px;
}

.p {
    font-size: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(19, 18, 18, 0.301);
    margin-top: 20px;
}